{% extends 'main.html' %}
{% load static %}

<!-- Title of the page. -->
{% block title %}
  Contacts
{% endblock title %}

<!-- Body of the page -->

{% block body %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="section-title">
        <!-- <h2>Contact</h2> -->
        <h6 class="text-capitalize">Let's get in touch!</h6>
        <h3>Contact <span>Us</span>.</h3>
        <p>
          Leave us your messages, your thoughts, your suggestions, your proposals, your questions. 
          Anything that just traverse your mind.
        </p>
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15918.556200625686!2d9.750961!3d4.09366!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3261f47a8cc49eb!2sAgence%20iceberg%20plus!5e0!3m2!1sfr!2snl!4v1638675095055!5m2!1sfr!2snl" class="map" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="container" data-aos="fade-up">

        <!-- Output Message message (Bootstrap-v5 only) -->
        {% for msg in messages %}
          <div class="alert alert-{%if msg.level_tag == error %}danger{% else %}{{msg.level_tag}}{% endif %} alert-dismissible fade show" role="alert">
            <i class="bi bi-{%if msg.level_tag == error %}exclamation-octagon-fill{% elif msg.level_tag == info %}info-circle-fill{% elif msg.level_tag == warning %}exclamation-triangle-fill{% else %}check-circle-fill{% endif %}"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {{msg.message}}
          </div>
        {% endfor %}
          
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>
                Awae-Ewonkang, Yaounde, <br>
                BP 30947 Yaounde, Cameroon
              </p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="info-box mb-4">
              <i class="bx bx-time"></i>
              <h3>Opening Hours</h3>
              <p>
                Monday - Friday: 10am - 6pm <br>
                Saturday : 10am - 2pm | Sunday: Closed
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p> <small class="text-muted">Work:</small> joelfah2003@gmail.com</p>
              <p> <small class="text-muted">Home:</small> joelfah2003@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p> <small class="text-muted">Work:</small> +237 656 997 810</p>
              <p> <small class="text-muted">Home:</small> +237 656 997 810</p>
              <p></p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <form action="{% url 'GetMessage' %}" method="POST" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-4 form-group">
                  <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required> -->
                  {{modelform.name}}
                </div>
                <div class="col-md-4 form-group">
                  <!-- <input type="number" name="phone" class="form-control" id="phone" placeholder="Your phone number" required> -->
                  {{modelform.phone}}
                </div>
                <div class="col-md-4 form-group">
                  <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Your email" required> -->
                  {{modelform.email}}
                </div>
              </div>
              <div class="form-group">
                <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required> -->
                {{modelform.subject}}
              </div>
              <div class="form-group">
                <!-- <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea> -->
                {{modelform.message}}
              </div>
              <div class="text-center">
                <button type="submit" class="btn form-control">Send Message</button>
              </div>
            </form>
          </div>

          <div class="col-lg-6">
            <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid opacity-50">
          </div>
        </div>

      </div>
    </section>
    <!-- End Contact Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <!-- <h2>F.A.Q</h2> -->
          <h6 class="text-capitalize">At your service.</h6>
          <h3>Frequently Asked <span>Questions</span>.</h3>
          <p>Save time while consulting our F.A.Qs and get an answer on the spot.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
{% endblock body %}
    