{% extends 'main.html' %}
{% load static %}

<!-- Title of the page. -->
{% block title %}
  Services
{% endblock title %}

<!-- Body of the page -->

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <!-- Uncomment below for hero bg with side brand image. -->
    <!-- <img src=" {% static 'assets/img/logo1.png' %} " alt="logo" class="img-fluid displayed"> -->
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h6 class="text-capitalize">Building the future, restoring the past.</h6>
      <h1>Your need, Our <span>Devotion</span>.</h1>
      <h2 class="text-white text-capitalize">Providing innovative &amp; <br> sustainable solutions.</h2>
      <div class="d-flex">
        <a href="#" class="btn text-capitalize even">Schedule an appointment &ThickSpace;<i class="bi bi-calendar-event" style="font-size: 15pt;"></i> </a>
      </div>
      <!-- Uncomment below to have video link on hero on mobile view. -->
      <!-- <div class="d-flex undisplay" style="padding-top: 10px;">
        <a href="" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div> -->
    </div>
    <!-- Uncomment below for hero bg with side brand image for mobile. -->
    <!-- <img src=" {% static 'assets/img/logo1.png' %} " alt="logo" class="img-fluid undisplay" width="200" height="200"> -->
  </section>
  <!-- End Hero -->

  <!-- Services Section -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <!-- <h2>Featured Services</h2> -->
        <h6>THe best industry and company service.</h6>
        <h3>Provides <span> High Performance Services</span> For Multiple Industries & Technologies!. </h3>
      </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End Services -->

<!-- <style>
    .rose-text{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(255, 118, 7);
        font-weight: 400px;
        box-sizing: border-box;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #section1{
        background-image: url('images/chapeau45.png');
        background-position: fixed;
        padding: 5%;
        display: flexbox;
    }
    h1{
        color: white;
    }
    .solution{
        margin-bottom: 3%;
    }
    #top-button{
        max-width: 300px;
        color: white;
        background-color: rgb(255, 118, 7);
        display: inline;
        font-weight: 500px;
        margin-left: 12px;
        margin-bottom: 2%;
    }
    #section2{
        padding: 08%;
        box-sizing: border-box;
        text-decoration-color: black;

    }
    #section2 .rose-text{
        font-size: 20px;
        font-weight: 400;
    }
    #section2 h1{
        color: black;
        font-size: 50px;
        font-weight: 550;
        font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .card .btn{
        font-size: 17px;
        font-weight: 500;
    }
    .card{
        margin: 10px;
        padding-top: 12px;
        cursor: pointer;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 2px rgb(8, 8, 8) solid;
    }
    .card:hover{
        transform: translateY(-20px);
        zoom: 3px;
        transition: 1s;
        
    }
    .container{
        width: 90%;
    }
    #btn-rigth{
        color: black;
        background-color:white ;
    }
    .card-text{
        opacity: 0.75;
        font:14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .fa-arrow-right {
        color: rgb(255, 118, 7);
    }
    @media (max-width:600px) {
        #section2 h1{
        color: black;
        font-size: 20px;
        font-weight: 600;
        font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    #section2 .rose-text{
        font-size: 18px;
    }
    .card{
        margin-left: 5%;
        margin-right: 5%;
    }
    }
    .container{
        width: 100%;
    }
</style> -->
{% endblock body %}