{% extends 'main.html' %}
{% load static %}

<!-- Title of the page. -->
{% block title %}
  Services
{% endblock title %}

<!-- Body of the page -->

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <!-- Uncomment below for hero bg with side brand image. -->
    <!-- <img src=" {% static 'assets/img/logo1.png' %} " alt="logo" class="img-fluid displayed"> -->
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h6 class="text-capitalize">Building the future, restoring the past.</h6>
      <h1>Your need, Our <span>Devotion</span>.</h1>
      <h2 class="text-white text-capitalize">Providing innovative &amp; <br> sustainable solutions.</h2>
      <div class="d-flex">
        <a href="#" class="btn text-capitalize even">Schedule an appointment &ThickSpace;<i class="bi bi-calendar-event" style="font-size: 15pt;"></i> </a>
      </div>
      <!-- Uncomment below to have video link on hero on mobile view. -->
      <!-- <div class="d-flex undisplay" style="padding-top: 10px;">
        <a href="" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div> -->
    </div>
    <!-- Uncomment below for hero bg with side brand image for mobile. -->
    <!-- <img src=" {% static 'assets/img/logo1.png' %} " alt="logo" class="img-fluid undisplay" width="200" height="200"> -->
  </section>
  <!-- End Hero -->

  <!-- Services Section -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <!-- <h2>Featured Services</h2> -->
        <h6>The best industry and company service.</h6>
        <!-- <h3>Provides <span> High Performance Services</span> For Multiple Industries & Technologies!. </h3> -->
        <h3>Our <span>Services</span>.</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum optio officiis aperiam? Illum saepe ipsam blanditiis
            cupiditate itaque laudantium magnam.
        </p>
      </div>
      <!-- Desktop display of services -->
      <div class="desktop-service">
        <div class="align-items-center justify-content-center">
            <div class="d-flex">
                <div class="image-box-outline">
                    <img src="{% static 'assets/img/image.png' %}" alt="" class="img-fluid">
                </div>
                <div class="text-box-bg">
                    <h4>This is the Card Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex neque animi! Nesciunt cumque, doloribus ratione
                        tempora ex voluptatem ducimus adipisci rerum mollitia quos amet molestiae. Nulla esse vel rerum!
                        <br>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae debitis eius explicabo excepturi hic inventore
                        </small>
                    </p>
                    <a href="" class="btn">Explore Service</a>
                </div>
            </div>
          </div>
          <br>
          <div class="align-items-center justify-content-center">
            <div class="d-flex">
                <div class="text-box-outline">
                    <h4>This is the Card Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex neque animi! Nesciunt cumque, doloribus ratione
                        tempora ex voluptatem ducimus adipisci rerum mollitia quos amet molestiae. Nulla esse vel rerum!
                        <br>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae debitis eius explicabo excepturi hic inventore
                        </small>
                    </p>
                    <a href="" class="btn">Explore Service</a>
                </div>
                <div class="image-box-bg">
                    <img src="{% static 'assets/img/image.png' %}" alt="" class="img-fluid">
                </div>
            </div>
          </div>
      </div>

      <!-- Mobile Display of services -->
        <div class="mobile-service">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="main-box">
                        <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-cash-coin"></i></div>
                        <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                        <p class="description">
                            We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                            It's fast and free of charges.
                        </p>
                        <a href="" class="btn btn-register">Explore Service</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="main-box">
                        <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-cash-coin"></i></div>
                        <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                        <p class="description">
                            We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                            It's fast and free of charges.
                        </p>
                        <a href="" class="btn btn-register">Explore Service</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="main-box">
                        <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-cash-coin"></i></div>
                        <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                        <p class="description">
                            We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                            It's fast and free of charges.
                        </p>
                        <a href="" class="btn btn-register">Register Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Explore Service</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="main-box">
                    <img src="{% static 'assets/img/logo1.png' %}" alt="" class="img-fluid">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-cash-coin"></i></div>
                    <h4 class="title"><a href="" class="text-white">Taxi Payment System</a></h4>
                    <p class="description">
                        We provide to you a means of paying your taxi trip whether you have coins or not. <br>
                        It's fast and free of charges.
                    </p>
                    <a href="" class="btn btn-register">Register</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
  </section>
  <!-- End Services -->
{% endblock body %}